body
{
	background-color: #232;
	color: #ACA;
	font-family: sans-serif;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

button
{
	border: none;
	color: #ACA;
	font-size: 16px;
	padding: 5px;
	text-align: center;
	width: 200px;
}

button.yes
{
	background-color: #454;
}

button.yes:hover
{
	background-color: #464;
}

button.no
{
	background-color: #844;
}

button.no:hover
{
	background-color: #F44;
}

div.eulaw
{
	background-color: #343;
	bottom: 0;
	box-shadow: inset 0px 0px 2px 3px #454;
	box-sizing: border-box;
	left: 50%;
	height: 0;
	position: fixed;
	transform: translate(-50%);
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease;
	width: 90%;
}

div.eulaw_content
{
	overflow: hidden;
	padding: 10px;
}

div.left_column
{
	box-sizing: border-box;
	float: left;
	height: 100%;
	padding: 4px;
	width: 50%;
}

div.canvas
{
	box-sizing: border-box;
	height: 50%;
	width: 100%;
}

div.right_column
{
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	float: right;
	height: 100%;
	padding: 4px;
	width: 50%;
}

div.source
{
	background-color: #343;
	box-sizing: border-box;
	font-family: monospace;
	height: 100%;
	padding: 4px;
	overflow: auto;
	width: 100%;
}

img.texture
{
	cursor: pointer;
	display: block;
	height: 100%;
	margin: auto;
	width: 100%;
}

html
{
	height: 100%;
	overflow: hidden;
}

input.texture_load
{
	display: none;
}

td.texture
{
	height: 10vw;
	padding: 4px;
	width: 10vw;
}
